.button {
    color: white;
    background: #08792c;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: default;
    letter-spacing: 2px;

    &:hover,
    &:active {
        background-color: hsla(0, 0%, 100%, 0.1);
        
    }
}
