@import "../../style/variables.scss";

.tracklist {
  grid-area: tracklist;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  max-width: 105rem;
}

h3 {
  color: $color-light-font;
}

.duration {
  padding-right: 2rem;
  min-width: 4rem;
  font-size: 16px;
  color: $color-white;
  line-height: 64px;
  text-align: center;
  flex-shrink: 0;
}

.placeholder {
  color: $color-light-font;
  align-self: center;
  justify-self: center;
}

.track {
  display: flex;
  max-width: 105rem;

  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: default;
  }
}

.trackname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
}

.separator {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.secondline {
  display: flex;
  color: $color-white;
  opacity: 0.6;
  font-size: 12px;
}

.wrapper {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  padding: 0.7rem;
  flex-direction: column;
  flex: 1 1;
  max-width: 100rem;
}

.track-image {
  flex-shrink: 0;
}

.tracklist-header {
  display: flex;
  flex-direction: column;
  color: $color-white;
  margin-bottom: 1rem;
  align-items: center;

  @media (min-width: 40rem) {
    color: $color-white;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
  }
}

.playlist-image {
  width: 100%;
  @media (min-width: 40rem) {
    width: 20%;
    height: 20%;
    flex-shrink: 1;
  }
}

.tracklist-header_wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  @media (min-width: 40rem) {
    color: $color-white;
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
}

.playlist-description {
  opacity: 0.6;
  margin-top: 2rem;
  a {
    color: $color-white;
    text-decoration: underline;
  }
}

.playlist-trackcount {
  opacity: 0.6;
  margin-top: 2rem;
}
