@import "../../style/variables.scss";

.playlists {
    // background-color: #282C2F;
    color: $color-light-font;
    margin-left: 1.5rem;
    
}

.sticky {
    position: sticky;
    top: 60px;
}

.playlist {
    padding: 0.3rem;
    &:hover,
    &:active {
        color: $color-white;
        cursor: default;
    }
}
