@import "../../style/variables.scss";

.playlists {
  grid-area: playlists;
  color: $color-light-font;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 40rem) {
    position: fixed;
    top: 70px;
    grid-area: playlists;
    color: $color-light-font;
    margin-left: 1.5rem;
  }
}

.playlist-wrap {
}

.playlist {
  padding: 0.3rem;
  &:hover,
  &:active {
    color: $color-white;
    cursor: default;
  }
}
