@import "../../style/variables.scss";

.header {
  display: flex;
  align-items: center;
  grid-area: header;
  height: 70px;

  @media (min-width: 40rem) {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    grid-area: header;
    height: 70px;
  }
}

.card {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  margin-left: 1.5rem;
  border-radius: 20px;
  padding: 0.3rem 1rem;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: default;
  }
}

.name {
  margin-left: 0.5rem;
  color: $color-white;
}
.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.logout {
  display: flex;
  justify-content: center;
  color: $color-white;
  padding: 0.5rem;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.3);
    cursor: default;
  }
}

.login {
  display: flex;
  position: absolute;
  top: 20px;
  margin-left: 3rem;
  border-radius: 20px;
  padding: 1rem;
  color: $color-white;
  border: $color-white solid 1px;
  letter-spacing: 1px;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: default;
  }
}

//-----BLUR-------
.open {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.blur {
  filter: blur(4px);
}
