// --- colors ---
$color-white: #FFFFFF;
$color-lightgray: #b3b1b1;
$color-gray: #E6E6E6;
$color-blue: #60D7F5;
$color-darkgray: #282C2F;
$color-red: #EC4639;
$color-green: #0FDB71;
$color-orange: #f57c00;
$color-light-font: #959595;
$color-font: #3A3A3A;


