// --- colors ---
$color-white: #ffffff;
$color-lightgray: #b3b1b1;
$color-gray: #cccccc;
$color-blue: #60d7f5;
$color-darkgray: #282c2f;
$color-red: #ec4639;
$color-green: #08792c;
$color-orange: #f57c00;
$color-light-font: #959595;
$color-font: #3a3a3a;
